.select__content, .password__content {
  flex: 1;
}

.password__content {
  position: relative;

  .password__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #666;
  }
}

.password__text {
  font-family: serif;
  font-size: 14px;
  color: #212121;
}
