.select__content, .password__content {
  flex: 1;
}

.password__content {
  position: relative;
}

.password__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

.password-icon {
  padding-top: 20px;
  width: 20px;
  height: 15px;
}

.password__input:focus {
  border-color: #0066cc;
}