@import "../utils/mixins";

.promo, .promo_2 {
  position: absolute;
  top: 25%;
  transform: translateY(-50%); 
  z-index: 0;

  @include onTablet {
    top: 50%;
  }
}

.promo {
  left: 0;

  @include onTablet {
    left: 10%;
  }
}

.promo_2 {
  right: -45%; 

  @include onTablet {
    right: 10%;
  }
}

.promo__image, .promo_2__image {
  width: 50%; 
  height: 100%;

  @include onTablet {
    width: 100%; 
    height: 100%;
  }
}