.wheel {
  flex-shrink: 0;
  width: 350px;
  max-width: 200px;
  height: 350px;
  margin: 0 auto;
}

@media (width >= 1280px) {
  .wheel {
    width: 400px;
    height: 400px;
  }
}

.wheel__first, .wheel__second, .wheel__third, .wheel__fourth {
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width >= 1280px) {
  .wheel__first, .wheel__second, .wheel__third, .wheel__fourth {
    max-width: 590px;
  }
}

.page {
  box-sizing: border-box;
  background-image: url("Background-mobile.df985d74.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  display: flex;
  overflow: hidden;
}

@media (width >= 1280px) {
  .page {
    background-image: url("background-desk.1c92cf61.png");
  }
}

.gears__photo--1 {
  filter: blur(2px);
  background-image: url("gears-top-left.7ffe3ef5.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 220px;
  position: absolute;
  top: -50px;
  left: 0;
}

@media (width >= 1280px) {
  .gears__photo--1 {
    filter: blur();
    width: 360px;
    height: 220px;
    top: 0;
  }

  .gears__photo--2 {
    background-image: url("gears-top-right.b3d0bfe6.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 240px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.gears__photo--3 {
  background-image: url("gears-bottom-right.568a0f4d.png");
  background-repeat: no-repeat;
  width: 247px;
  height: 243px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.play-content {
  z-index: 0;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  display: flex;
  position: relative;
}

.promo {
  width: 190px;
  position: absolute;
  top: -80px;
}

@media (width >= 1280px) {
  .promo {
    width: 425px;
    top: 30%;
  }
}

.promo__1 {
  transform: translateX(-50%);
}

@media (width >= 1280px) {
  .promo__1 {
    right: 50%;
  }
}

.promo__2 {
  right: 0;
  transform: translateX(50%);
}

@media (width >= 1280px) {
  .promo__2 {
    left: 50%;
  }
}

.promo__image {
  width: 100%;
  height: auto;
}

.promo__text {
  color: #e21f26;
  text-transform: uppercase;
  font-family: Inter, serif;
  font-size: 12px;
  font-weight: 800;
  position: absolute;
  top: 0;
}

@media (width >= 1280px) {
  .promo__text {
    font-size: 22px;
  }
}

.promo__text--left {
  text-align: right;
  left: 20%;
}

@media (width >= 1280px) {
  .promo__text--left {
    margin-top: 25px;
    left: 24%;
  }
}

.promo__text--right {
  text-align: left;
  right: 6%;
}

@media (width >= 1280px) {
  .promo__text--right {
    margin-top: 25px;
    right: 13%;
  }
}

.register {
  color: #000;
  z-index: 100;
  background-color: #fff;
  border-radius: 8px;
  width: 405px;
  height: 665px;
  font-family: Inter, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 15px #0000004d;
}

@media (width >= 1280px) {
  .register {
    top: 50%;
    left: 50%;
  }
}

.register__title {
  background-color: #e21f26;
  border-radius: 8px 8px 0 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  display: flex;
}

.register__title__text {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-family: Inter, serif;
  font-size: 24px;
  font-weight: bold;
}

.register__auth__title {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin: 15px;
  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 400;
}

.register__container {
  padding: 30px;
}

.register__promo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.register__promo__text {
  color: #e21f26;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  margin: 0;
  font-family: Inter, serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 32px;
}

.register__promo__text--black {
  color: #000;
  align-items: center;
  font-size: 28px;
}

.register__buttons {
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
  display: flex;
}

.register__button {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  flex: 1;
  padding: 10px;
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: bold;
}

.register__info {
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
  display: flex;
}

.register__label {
  color: #212121;
  margin: 0;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.register__input {
  box-sizing: border-box;
  color: #212121;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 46px;
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
}

.register__input::placeholder {
  color: #797979;
  font-size: 16px;
}

.register__row {
  gap: 15px;
  margin-bottom: 15px;
  display: flex;
}

.register__select__content {
  width: 100px;
}

.register__select {
  padding: 15px;
  font-size: 16px;
}

.register__submit {
  color: #fff;
  cursor: pointer;
  background-color: #e21f26;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 52px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: transform .2s ease-in-out;
  animation: .8s infinite pulse;
}

.register__login {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.register__login:after {
  content: "";
  background: #e9e9e9;
  height: 1px;
  margin-top: 20px;
  display: block;
}

.register__checkboxes {
  flex-direction: column;
  justify-content: center;
  gap: 5px 10px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  display: flex;
}

.register__checkboxes__text {
  padding: 0;
  font-size: 16px;
}

.register__checkboxes__link {
  color: #e21f26;
  text-decoration: underline;
}

.register__checkbox {
  background-color: #d9d9d9;
  border: 1px solid gray;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  padding: 3px;
  display: inline-block;
  position: relative;
}

.register__link {
  color: #e21f26;
  text-decoration: underline;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #fff;
  border-color: #d9d9d9;
}

input[type="checkbox"]:checked:after {
  content: "";
  border: 2px solid #000;
  border-width: 0 2px 2px 0;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(45deg);
}

label {
  align-items: center;
  gap: 5px;
  font-size: 14px;
  display: flex;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.input-error, .error {
  border: 2px solid red;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

.register__button.selected {
  color: #fff;
  background-color: #e21f26;
  border: 1px solid #e21f26;
}

.hidden {
  display: none;
}

button[disabled] {
  cursor: not-allowed;
  color: #fff;
  background-color: #cd5c5c;
  animation: none;
  transform: scale(1);
}

.button-container {
  justify-content: center;
  margin: 25px;
  display: flex;
}

@media (width >= 1280px) {
  .button-container {
    margin: 65px;
  }
}

.button {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 5;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
  background-color: #e21f26;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 86px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 4px 10px #e31e01;
}

.button__photo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
  background-color: #cd5c5c;
}

.select__content, .password__content {
  flex: 1;
}

.password__content {
  position: relative;
}

.password__icon {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.password-icon {
  width: 20px;
  height: 15px;
  padding-top: 20px;
}

.password__input:focus {
  border-color: #06c;
}

.disk {
  margin: 0;
}

.disk__photo--1 {
  background-image: url("dice.5fc28165.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  animation: 1s ease-in-out infinite bounce;
  position: fixed;
  bottom: -20px;
  left: -15px;
}

@media (width >= 1280px) {
  .disk__photo--1 {
    background-image: url("dices-bottom-left.bbd51134.png");
    width: 320px;
    height: 250px;
    bottom: 0;
    left: 100px;
  }
}

.disk__photo--2 {
  background-image: url("dice.5fc28165.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  animation: 1.3s ease-in-out infinite bounce;
  position: fixed;
  top: 280px;
  right: -30px;
}

@media (width >= 1280px) {
  .disk__photo--2 {
    width: 250px;
    height: 250px;
    top: 250px;
    right: 230px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-30px);
  }

  40% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.reward {
  z-index: 5;
  position: fixed;
}

.reward__wrapper {
  flex-direction: row;
  align-items: center;
  gap: 0;
  display: flex;
  position: fixed;
}

.reward__wrapper--1, .reward__wrapper--2 {
  top: 30%;
}

@media (width >= 1280px) {
  .reward__wrapper--1, .reward__wrapper--2 {
    top: 43%;
  }
}

.reward__wrapper--1 {
  left: 15%;
  transform: translate(-50%);
}

@media (width >= 1280px) {
  .reward__wrapper--1 {
    left: 30%;
  }
}

.reward__wrapper--2 {
  right: 15%;
  transform: translate(50%);
}

@media (width >= 1280px) {
  .reward__wrapper--2 {
    right: 30%;
  }
}

.reward__image {
  max-width: 130px;
}

@media (width >= 1280px) {
  .reward__image {
    max-width: 300px;
  }
}

.reward .hidden {
  display: none;
}

.logo {
  z-index: 5;
  justify-content: center;
  width: 328px;
  height: 82px;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
}

.logo__image__item {
  width: 100%;
  height: 80%;
}

@media (width >= 1280px) {
  .logo__image__item {
    height: 100%;
  }
}

.html {
  color: #e21f26;
  font-family: Inter, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

.body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  overflow: hidden;
}
/*# sourceMappingURL=index.2103b895.css.map */
